/*
flex study
 */
/*.app-wrapper {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 height: 100vh;
}

.box {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 flex-basis: 10%;
 height: 200px;
 background-color: coral;
}

.box:nth-child(2){
 color: white;
 background-color: blue;
}

.box:nth-child(3){
 color: white;
 flex-shrink: 3;
 background-color: darkgray;
}*/

/*
grid study
 */
.grid {
 display: grid;
 column-gap: 10px;
 row-gap: 10px;
 height: 100vh;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(4, 1fr);
 place-items: stretch flex-end;
}

.box {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #2f2f2f;
 color: white;
}

.header {
 background-color: aqua;
}

.content {
 background-color: coral;
}

.nav {
 background-color: burlywood;
}

.footer {
 background-color: crimson;
}
