
.app-wrapper {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 height: 100vh;
}

.box {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 width: 200px;
 height: 200px;
 background-color: coral;
}

.box:nth-child(10){
 color: white;
 background-color: blue;
 order: 1;
}
